.main-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 40rem;
}

.input-label {
  background-color: #e9ecef;
}

.input-field {
  border-radius: 0;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
}

.error-message {
  font-weight: bold;
}

.info-card {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.skill-list {
  list-style-type: none;
  padding: 0;
}

.skill-list li {
  background-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
